
*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.msgbox{
    margin-top: 1rem;
     font-size: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    gap: 3rem;
}

.choice:hover{
   opacity: 1;
   cursor: pointer;
   background-color: #081b31;
}
.choice{
    height: 165px;
    width: 165px;
    opacity: 0.8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice img{
    height: 150px;
    width: 150px;
    margin: 10px;
    object-fit: cover;
    border-radius: 50%;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    gap: 5rem; 
   
}

#user-score,#comp-score{
    font-size: 4rem;
}

h2{

    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    border: 1px solid black;
    background-color: antiquewhite;
    height: 3rem;
    width:  19rem;

}

.msg-container{
    font-size: 2rem;
    margin-top: 2.5rem;
}

#msg{
    background-color: #081b31;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;
}